# Mark HTML files as not detectable by GitHub Linguist
Document_Visualisations.html linguist-detectable=false
Intertopic_Distance_Map.html linguist-detectable=false
topic_info_table.html linguist-detectable=false

